<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/header.html::header})"></head>
<body>
<div th:replace="(~{fragments/navbar.html::navbar})"></div>

<div class="container trainings-container">
    <div th:each=" model: ${trainingsCollection}">
        <h2 th:text="${model.trainer.firstName} + ' ' + ${model.trainer.lastName}"/>

        <ul class="trainings-ul">
            <li class="trainings-li" th:each="training : ${model.trainings}">
                <p th:text="'Name: ' + ${training.name}"></p>
                <p th:text="'Start Date: ' + ${training.startDate}"></p>
                <p th:text="'End Date: ' + ${training.endDate}"></p>
                <p th:text="'Description: ' + ${training.description}"></p>
                <p th:text="'Type: ' + ${training.type}"></p>
            </li>
        </ul>
    </div>
</div>

<div th:replace="(~{fragments/footer.html::footer})"></div>
</body>
</html>