<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/header.html::header})"></head>
<body>
<div th:replace="(~{fragments/navbar.html::navbar})"></div>

<div class="container trainings-container">
    <a th:if="${isTrainer && !connectedToGoogleCalendar}" class="trainings-btn" th:href="@{/connect-google-calendar}">Connect Google Calendar</a>
    <a th:if="${isTrainer && connectedToGoogleCalendar}" class="trainings-btn" th:href="@{/disconnect-google-calendar}">Disconnect Google Calendar</a>
    <br th:if="${isTrainer}"/>
    <br th:if="${isTrainer}"/>
    <br th:if="${isTrainer}"/>
    <h2 th:text="${trainingType}"/>
    <ul class="trainings-ul">
        <li class="trainings-li" th:each="training : ${trainings}">
            <p th:text="'Name: ' + ${training.name}"></p>
            <p th:text="'Start Date: ' + ${training.startDate}"></p>
            <p th:text="'End Date: ' + ${training.endDate}"></p>
            <p th:text="'Description: ' + ${training.description}"></p>
            <p th:if="${isTrainer}" th:text="'Users: ' + ${training.assignedUsers}"></p>
            <a th:if="${isTrainer}" class="trainings-btn2" th:href="@{/user/add-users-to-training(id=${training.id})}">Change users</a>
        </li>
    </ul>

    <a th:if="${isTrainer}" class="trainings-btn" th:href="@{/user/add-training(type=${trainingType})}">Add New
        Training</a>
</div>

<div th:replace="(~{fragments/footer.html::footer})"></div>
</body>
</html>