<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="(~{fragments/header.html::header})"></head>
<body>
<div th:replace="(~{fragments/navbar.html::navbar})"></div>
<div class="container">
    <div class="row col-md-10">
        Name: <h2 th:text="${trainer.getName()}"></h2>
        Email: <b th:text="${trainer.getEmail()}"></b>
        <div th:if="${trainer.getPhoneNumber()} != ''">
            <a aria-label="Chat on WhatsApp" th:href="'https://wa.me/' + ${trainer.getPhoneNumber()}" target="_blank"> <img alt="Chat on WhatsApp" th:src="@{/image/whatsAppButton.svg}" />
                </a>
        </div>
    </div>
</div>
<div th:replace="(~{fragments/footer.html::footer})"></div>
</body>
</html>