.trainings-container {
    margin-top: 20px;
}

.trainings-ul {
    list-style-type: none;
    padding: 0;
}

.trainings-li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.trainings-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: transparent;
    border-radius: 5px;
}

.trainings-btn2 {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: blue;
    color: white;
    border: transparent;
    border-radius: 5px;
}

.trainings-btn:hover {
    border: transparent;
    background-color: #45a049;
    color: white;
}

.trainings-btn2:hover {
    border: transparent;
    background-color: darkblue;
    color: white;
}
.exercise{
    margin-top: 2px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
}